{% extends 'base.html' %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}


{% block content %}
<!-- component -->
<div class="py-16 bg-white">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
          <div class="md:5/12 lg:w-5/12">
            <img src="{{product.thumbnail.url}}" alt="image" loading="lazy" width="" height="">
          </div>
          <div class="md:7/12 lg:w-6/12">
            <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">{{product.name}}</h2>
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Category</h2>

            <p class="mt-6 text-gray-600">{{product.description}}</p>
            {% if has_acces %}
            <a href="{{product.content_file.url}}" download class="flex items-center justify-center w-full px-2 py-2 mt-4 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-green-700 rounded-md hover:bg-green-600 focus:outline-none focus:bg-gray-700">
                
                <span class="mx-1">Download</span>
            </a>
            <a href="{{product.content_url}}" target="_blank" class="flex items-center justify-center w-full px-2 py-2 mt-4 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-gray-800 rounded-md hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
    
                
                <span class="mx-1">Get URL</span>
            </a>
            {% else %}
            
            <button type="submit" id="checkout-button" class="flex items-center justify-center w-full px-2 py-2 mt-4 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-gray-800 rounded-md hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mx-1" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
              </svg>
              
              <span class="mx-1">$ {{product.price_display}}</span>
          </button>
          {% endif %}
      </div>
          </div>
          
        </div>
    </div>
  </div>
  {% csrf_token %}
{% endblock content %}

{% block footer %}

{% endblock footer %}


{% block javascript %}

<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // Create and instance of the stripe object with your publishable API key
    var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');

    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function() {
        //Create a new Checkout session using the server-side endpoint yout
        //create in step 3

        fetch("{% url 'create-checkout-session' product.slug %}", {
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken}
        })
        .then(function(response){
            return response.json();
        })
        .then(function(session){
            console.log(session)
            return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result){
            // If 'redirectToCheckout' fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using 'error.message'
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function(error){
            console.error('Error', error);
        });
    });
</script>

{% endblock javascript %}